@import "tailwindcss";

@theme{
    --font-eleganteText: 'Libertinus Serif Display', serif;
    --font-brushNames: 'Marck Script', cursive;
    --font-eleganteTitle: 'Tangerine', cursive;
    --font-finalText: 'Satisfy', cursive;

    --color-golden: #cab135;
}